<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">订单号：</a>
                        <small>${obj.orderNo}</small>
                    </div>
                </header>
                <div class="list-group">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <tbody>
                        
                       	    <tr>
                                <td>订单状态</td>
                                <td>
                                <% if(obj.order_status==0){ %>
                                   		 执行中
                                 <% }else if(obj.order_status==1){ %>
                                                                                                                        已销单
                                 <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>所属公司</td><td>${obj.dj_corporation}</td>
                            </tr>
                            <tr>
                                <td>订单类型</td>
                                <td>
                                  <% if(obj.order_type==0){ %>
                                   		 人工
                                 <% }else if(obj.order_type==1){ %>
                                                                                                                        司机补单
                                 <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>代驾订单来源</td><td>${obj.dj_order_source}</td>
                            </tr>
                            <tr>
                                <td>预约时间</td><td>${obj.dj_apment_time}</td>
                            </tr>
                            <tr>
                                <td>预约地点</td><td>${obj.dj_address}</td>
                            </tr>
                            <tr>
                                <td>客户姓名</td><td>${obj.name}</td>
                            </tr>
                            <tr>
                                <td>客户电话</td><td>${obj.mobile}</td>
                            </tr>
                            <tr>
                                <td>接单司机名</td><td>${obj.dj_sj_name}</td>
                            </tr>
                           </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>
