<%
layout("/layouts/platform.html"){
%>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=aa9e39802544018e2097bfed8baed1cb&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
<style>
     .area
        {

            background-color: green;
            height: auto;
            border: 2px solid;
            margin: auto;
        }
        .rightarea
        {
            float: left;
            width: 50%;
            height: 300px;
            background-color: red;
        }
        .leftarea
        {
            float: left;
            width: 50%;
            height: 300px;
            background-color: yellow;
        }
</style>
<header class="header navbar bg-white shadow">
    <div class="btn-group tool-button">
        <a class="btn btn-primary navbar-btn" href="${base}/platform/order/index" data-pjax><i class="ti-angle-left"></i> 返回</a>
    </div>
</header>

<div class="content-wrap">
       <div class="wrapper" style="min-height:500px;">
            <section class="panel panel-form">
               <div class="area">
				    <div class="leftarea">
				       <div id="container" style="width:500px; height:300px"></div>
				    </div>
				    <div class="rightarea"></div>    
				</div>
             </section>
       </div>

</div>

<script language="JavaScript">
    $(document).ready(function () {
        $('#addForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, form, options) {
                form.find("button:submit").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.code == 0) {
                    Toast.success(data.msg);
                    form.resetForm();
                } else {
                    Toast.error(data.msg);
                }
                form.find("button:submit").button("reset");
            }
        });
        
        //地图加载
        var map = new AMap.Map("container", {
             resizeEnable: true
        });
        //输入提示
        var autoOptions = {
            input: "tipinput"
        };
        var auto = new AMap.Autocomplete(autoOptions);
        var placeSearch = new AMap.PlaceSearch({
            map: map
        });  //构造地点查询类
        AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
        function select(e) {
            placeSearch.setCity(e.poi.adcode);
            placeSearch.search(e.poi.name);  //关键字查询查询
        }
        
    });
    
    
    
</script>

<%}%>


