<%
layout("/layouts/platform.html"){
%>
<div class="content-wrap">

    <div class="wrapper">
        <dl class="accordion">
            <dt>
                <a href="javascript:;" class="active">本系统只做界面格局及基本功能展示，不代表最终版本系统</a>
            </dt>
            <dd style="display: block">
                <b>版本特性</b><br>
                &#149; 集成Shrio权限框架<br>
                &#149; 集成Ehcache缓存<br>
                &#149; 集成Redis<br>
                &#149; 支持语言国际化(仅作演示,页面没有全部翻译)<br>
                &#149; 支持动作链<br>
                &#149; 支持注解式日志<br>
                &#149; 支持自定义路由<br>
                &#149; 支持插件热插拔<br>
                &#149; 集成Email服务<br>
                &#149; 集成Quartz定时任务<br>
                &#149; 集成Lucene搜索引擎<br>
                &#149; 集成Beetl模板引擎<br>
                &#149; 采用Bootsrtap+Pjax<br><br>
            </dd>
        </dl>
    </div>

</div>



<%}%>
